/* -------------------------------------------------------------------------- *
 * Theme
 * -------------------------------------------------------------------------- */
/* Template: https://www.materialpalette.com/blue-grey/blue */
/* --- General -------------------------------------------------------------- */

body {
  background-color: #E4E7EA;
}
a {
  color: #448AFF;
}
a:hover {
  color: #455A64;
}
.bg-image.no-image {
  background-color: #607D8B;
}

/* --- Navbar --------------------------------------------------------------- */

.navbar {
  background-color: #607D8B;
  color: white;
}
.navbar a {
  color: white;
}
.navbar--nav-link:hover {
  background-color: rgba(255,255,255,.5);
  border-bottom: 3px solid white;
}

/* --- Header --------------------------------------------------------------- */

.header {
  background-color: #333;
  color: white;
}
.header .navbar.fixed.autohide.show {
  background-color: #607D8B;
}
.header--subtitle {
  color: #ddd;
}

/* --- Content -------------------------------------------------------------- */

.post--content > h1,
.post--content > h2,
.post--content > h3,
.post--content > h4,
.post--content > h5,
.post--content > h6 {
  border-color: #455A64;
}
.post--content p > code {
  background-color: #CFD8DC;
  color: #455A64;
}
.post--content blockquote {
  background-color: #CFD8DC;
  border-color: #455A64;
}
.post--tags a {
  color: #888;
  background-color: rgba(127,127,127,0.15);
}
.post--tags a:hover {
  background-color: rgba(127,127,127,0.3);
}

.post--content p {
  color: #212121;
  word-wrap: break-word;
}

/* --- Cards ---------------------------------------------------------------- */

.card {
  background-color: white;
}
.card.image .bg-darken {
  color: white;
}
.card-image .bg-lighten {
  color: black;
}
.card--back {
  background-color: #333;
  color: white;
}

/* --- Author --------------------------------------------------------------- */

.author {
  background-color: rgba(0,0,0,.05);
}
.author--media {
  background-color: #607D8B;
}

/* --- FABs ----------------------------------------------------------------- */

.fab {
  color: white;
  background-color: #448AFF;
}
.fab:hover {
  color: white;
}

/* --- Buttons -------------------------------------------------------------- */

.button.solid {
  color: white;
  background-color: #448AFF;
}

/* --- Waves ---------------------------------------------------------------- */

.wave {
  background-color: white;
}

/* --- Footer --------------------------------------------------------------- */

.footer {
  background-color: #607D8B;
}
.footer a {
  color: #CFD8DC;
}
.footer a:hover {
  color: #FFFFFF;
}
.footer--top {
  color: #CFD8DC;
}
.footer--bottom a {
  color: #757575;
}
.footer--bottom a:hover {
  color: #FFFFFF;
}
.footer--bottom {
  color: #CFD8DC ;
}
